<!-- Img Start -->
<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-lg-20 andro_single-img-wrapper">
                <img src="assets/img/about2.png" alt="about us">
            </div>
            <div class="col-lg-6">
                <div class="section-title-wrap mr-lg-30">
                    <h2 class="title">Serving <span class="custom-primary">Modern Design Fishinizerry</span> Since 1922</h2>
                    <p class="subtitle">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <p class="subtitle">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                    <a routerLink="/shop-v1" class="andro_btn-custom">Browse Our Shop</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Img End -->
<!-- Call to action Start -->
<div class="section pt-0">
    <div class="container">
        <div class="andro_cta-notice secondary-bg pattern-bg">
            <div class="andro_cta-notice-inner">
                <h3 class="text-white">Buy Today and Get 20% Off</h3>
                <p class="text-white">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
                <a routerLink="/contact" class="andro_btn-custom light">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Call to action End -->
<!-- Img Start -->
<div class="section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-lg-20 andro_single-img-wrapper">
                <img src="assets/img/about.jpg" alt="img">
                <div class="andro_dots"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-title-wrap mr-lg-30">
                    <h2 class="title">Serving <span class="custom-primary">Modern Design Fishinizerry</span> Since 1922</h2>
                    <p class="subtitle">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <p class="subtitle">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                    <ul class="andro_list">
                        <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                        <li>Lorem Ipsum has been the industry's</li>
                        <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                        <li>Lorem Ipsum has been the industry's standard dummy</li>
                    </ul>
                    <a routerLink="/shop-v1" class="andro_btn-custom">Browse Our Shop</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Img End -->
<!-- Testimonials Start -->
<div class="section section-padding pt-0">
    <div class="container">
        <div class="section-title">
            <h4 class="title">What Are People Saying</h4>
        </div>
        <div class="row">
            <!-- Testimonail item start -->
            <div class="col-lg-4 col-md-12" *ngFor="let item of testimonial | slice:0:3">
                <div class="andro_testimonial">
                    <div class="andro_testimonial-body">
                        <h5>{{item.title}}</h5>
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <i class="fa fa-star" [class.active]="fill === 100"></i>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                        <p>{{item.para | slice:0:104}}</p>
                    </div>
                    <div class="andro_testimonial-author">
                        <img [src]="item.photo" alt="{{item.name}}">
                        <div class="andro_testimonial-author-inner">
                            <h6>{{item.name}}</h6>
                            <span>{{item.designation}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonail item end -->
        </div>
    </div>
</div>
<!-- Testimonials End -->