<a class="navbar-brand" routerLink="/"> <img src="assets/img/logo.png" alt="logo"> </a>




<ul>
    <div *ngFor="let category of categories; let lastIndex = last">
        <li class="menu-item menu-item-has-children">
            <a href="#" class="sub-toggle">{{category.category}}</a>
            <ul class="sub-menu" [attr.category]="category.category">
                <a routerLink="products/{{category.url}}"><strong>Tod@s - {{category.category}}</strong></a>
            </ul>
            {{ lastIndex ? callback() : "" }}
        </li>
    </div>    
    <li class="menu-item"> <a routerLink="/contact">Contact Us</a> </li>
</ul>