<!-- Related Products Start -->
<div class="section pt-0 andro_related-posts">
    <div class="container">
        <div class="section-title flex-title">
            <h4 class="title">Related Products</h4>
            <div class="andro_arrows">
                <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
                <i class="fa fa-arrow-right slick-arrow slider-next"></i>
            </div>
        </div>
        <ngx-slick-carousel #slickModal="slick-carousel" [config]="relatedConfig" class="andro_related-posts-slider">
            <!-- Product Start -->
            <div ngxSlickItem class="andro_product andro_product-has-controls andro_product-has-buttons" *ngFor="let item of shopbox">
                <div class="andro_product-badge andro_badge-featured" *ngIf="item.featured">
                    <i class="fa fa-star"></i>
                    <span>En Promo</span>
                </div>
                <div class="andro_product-badge andro_badge-sale" *ngIf="item.discount">
                    {{item.discount}}% Off
                </div>
                <div class="andro_product-thumb">
                    <a routerLink="/product/{{item.id}}"><img src="{{item.img}}"
                        alt="{{item.title}}"></a>
                </div>
                <div class="andro_product-body">
                    <h5 class="andro_product-title"> <a routerLink="/product/{{item.id}}">
                        {{item.title}} </a> </h5>
                    <div class="andro_product-price">
                        <span *ngIf="item.discount">${{item.price * (100 - item.discount) / 100 |
                            number:'1.2-2'}}</span>
                        <span>${{item.price| number:'1.2-2'}}</span>
                    </div>
                    <p>{{item.shortdesc}}</p>
                    <div class="andro_rating-wrapper">
                        <div class="andro_rating">
                            <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                <ng-template let-fill="fill" let-index="index">
                                    <i class="fa fa-star" [class.active]="fill === 100"></i>
                                </ng-template>
                            </ngb-rating>
                        </div>
                        <span>{{item.rating}} Stars</span>
                    </div>
                </div>
                <div class="andro_product-footer">
                    <div class="andro_product-buttons">
                        <a routerLink="/product/{{item.id}}" class="andro_btn-custom primary">Add To Cart</a>
                        <a href="javascript:void(0)" (click)="open(shopmodal, item)" class="andro_btn-custom light">Quick View</a>
                    </div>
                </div>
            </div>
            <!-- Product End -->
        </ngx-slick-carousel>
    </div>
</div>
<!-- Related Products End -->
<ng-template #shopmodal let-modal>
    <div class="modal-body">
        <div class="close-btn close-dark close" (click)="modal.dismiss('Cross click')">
            <span></span>
            <span></span>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="andro_product">
                        <div class="andro_product-badge andro_badge-featured" *ngIf="modalContent.featured">
                            <i class="fa fa-star"></i>
                            <span>En Promo</span>
                        </div>
                        <div class="andro_product-badge andro_badge-sale" *ngIf="modalContent.discount">
                            {{modalContent.discount}}% Off
                        </div>
                        <img [src]="modalContent.img" alt="{{modalContent.title}}">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="andro_product-single-content">
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <ngb-rating [max]="5" [(rate)]="modalContent.rating" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <i class="fa fa-star" [class.active]="fill === 100"></i>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <span>{{modalContent.rating}} Stars</span>
                        </div>
                        <h3> {{modalContent.title}} </h3>
                        <div class="andro_product-price">
                            <span *ngIf="modalContent.discount">${{modalContent.price * (100 - modalContent.discount) /
                                100 |
                                number:'1.2-2'}}</span>
                            <span>${{modalContent.price| number:'1.2-2'}}</span>
                        </div>
                        <p class="andro_product-excerpt">{{modalContent.shortdesc}}</p>
                        <form class="andro_product-atc-form">
                            <div class="andro_product-variation-wrapper">
                                <div class="form-group">
                                    <select class="form-control" name="amount">
                                        <option value="">Select Amount</option>
                                        <option value="1">1 Piece</option>
                                        <option value="2">2 Pieces</option>
                                        <option value="3">3 Pieces</option>
                                        <option value="4">4 Pieces</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="breed">
                                        <option value="">Select a Breed</option>
                                        <option value="italian">Italian</option>
                                        <option value="egyptian">Egyptian</option>
                                    </select>
                                </div>
                            </div>
                            <div class="qty-outter">
                                <a routerLink="/product/{{modalContent.id}}" (click)="modal.dismiss('Cross click')" class="andro_btn-custom">Buy Now</a>
                                <div class="qty">
                                    <span class="qty-subtract" (click)="decrement()">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                    <input type="text" name="qty" value="{{counter}}">
                                    <span class="qty-add" (click)="increment()">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
