<div *ngFor="let item of shopbox">
    <!-- Product Content Start -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="andro_product-single-thumb">
                        <img [src]="item.img" alt="{{item.title}}">
                    </div>
                    <!-- Pagination Start -->
                    <div class="andro_single-pagination">
                        <div class="andro_single-pagination-item andro_single-pagination-prev">
                            <a routerLink="/product/1">
                                <div class="andro_single-pagination-thumb">
                                    <img src="assets/img/products/9.png" alt="product">
                                </div>
                                <div class="andro_single-pagination-content">
                                    <h6>Fishing Rods</h6>
                                </div>
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <div class="andro_single-pagination-item andro_single-pagination-next">
                            <a routerLink="/product-single-v2/1">
                                <div class="andro_single-pagination-thumb">
                                    <img src="assets/img/products/15.png" alt="product">
                                </div>
                                <div class="andro_single-pagination-content">
                                    <h6>Fishing Sinker</h6>
                                </div>
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Pagination End -->
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="andro_product-single-content andro_product-single-2">
                        <div class="andro_product-single-controls andro_post-share">
                            <a href="#" ngbTooltip="Add to Wishlist" class="andro_add-to-favorite"> <i
                                    class="flaticon-like"></i> </a>
                            <ul class="andro_sm">
                                <li> <a href="#" ngbTooltip="Share on Facebook"> <i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li> <a href="#" ngbTooltip="Share on Twitter"> <i class="fab fa-twitter"></i> </a>
                                </li>
                                <li> <a href="#" ngbTooltip="Share on Linkedin"> <i class="fab fa-linkedin-in"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <i class="fa fa-star" [class.active]="fill === 100"></i>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <span>{{item.rating}} Stars</span>
                        </div>
                        <h3> {{item.title}} </h3>
                        <div class="andro_product-price">
                            <span *ngIf="item.discount">${{item.price * (100 - item.discount) / 100 |
                                number:'1.2-2'}}</span>
                            <span>${{item.price| number:'1.2-2'}}</span>
                        </div>
                        <p class="andro_product-excerpt">{{item.shortdesc}}</p>
                        <form class="andro_product-atc-form">
                            <div class="andro_product-variation-wrapper">
                                <div class="form-group">
                                    <select class="form-control" name="amount">
                                        <option value="">Select Amount</option>
                                        <option value="10 Pieces">10 Pieces</option>
                                        <option value="20 Pieces">20 Pieces</option>
                                        <option value="30 Pieces">30 Pieces</option>
                                        <option value="40 Pieces">40 Pieces</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="breed">
                                        <option value="">Select a Breed</option>
                                        <option value="italian">Italian</option>
                                        <option value="egyptian">Egyptian</option>
                                    </select>
                                </div>
                            </div>
                            <div class="qty-outter">
                                <a routerLink="/product/{{item.id}}" class="andro_btn-custom">Buy Now</a>
                                <div class="qty">
                                    <span class="qty-subtract" (click)="decrement()">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                    <input type="text" name="qty" value="{{counter}}">
                                    <span class="qty-add" (click)="increment()">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <ul class="andro_product-meta">
                            <li>
                                <span>Categorias: </span>
                                <div class="andro_product-meta-item">
                                    <a href="#"
                                        *ngFor="let category of getBlogCategory(item.categories)">{{category.title}},</a>
                                </div>
                            </li>
                            <li>
                                <span>Tags: </span>
                                <div class="andro_product-meta-item">
                                    <a href="#" *ngFor="let tags of getBlogTags(item.tags)">#{{tags.title}},</a>
                                </div>
                            </li>
                            <li>
                                <span>SKU: </span>
                                <div class="andro_product-meta-item">
                                    <span>{{item.sku}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar productpage">
                        <!-- Daily Deals Start -->
                        <div class="sidebar-widget mb-0">
                            <h5 class="widget-title"> Daily Deals </h5>
                            <app-dealslider></app-dealslider>
                        </div>
                        <!-- Daily Deals End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Content End -->
    <!-- Additional Information Start -->
    <div class="section pt-0">
        <div class="container">
            <div class="andro_product-additional-info">
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="nav andro_sticky-section" ngbNav #nav="ngbNav">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>Description</a>
                                <ng-template ngbNavContent>
                                    <h4>Description</h4>
                                    <div [innerHtml]="item.longdescription"></div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>Additional Information</a>
                                <ng-template ngbNavContent>
                                    <h4>Additional Information</h4>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th scope="col">Attributes</th>
                                                <th scope="col">Values</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> <strong>Color</strong> </td>
                                                <td>
                                                    <span *ngFor="let item of item.color">{{item}},</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <strong>Material</strong> </td>
                                                <td><span *ngFor="let item of item.material">{{item}},</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                                <a ngbNavLink>Reviews ({{item.reviews.length}})</a>
                                <ng-template ngbNavContent>
                                    <h4>Leave a Review</h4>
                                    <div class="andro_rating-wrapper">
                                        <div class="andro_rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span>Your Review</span>
                                    </div>
                                    <!-- Review Form start -->
                                    <div class="comment-form">
                                        <form method="post">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <input type="text" class="form-control" placeholder="Full Name"
                                                        name="fname" value="">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="email" class="form-control" placeholder="Email Address"
                                                        name="email" value="">
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <textarea class="form-control" placeholder="Type your comment..."
                                                        name="comment" rows="7"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" class="andro_btn-custom primary" name="button">Post
                                                Review</button>
                                        </form>
                                    </div>
                                    <!-- Review Form End -->
                                    <!-- Reviews Start -->
                                    <div class="comments-list">
                                        <ul>
                                            <li class="comment-item" *ngFor="let item of item.reviews">
                                                <img [src]="item.userimg" alt="{{item.username}}">
                                                <div class="comment-body">
                                                    <h5>{{item.username}}</h5>
                                                    <div class="andro_rating">
                                                        <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                                            <ng-template let-fill="fill" let-index="index">
                                                                <i class="fa fa-star" [class.active]="fill === 100"></i>
                                                            </ng-template>
                                                        </ngb-rating>
                                                    </div>
                                                    <span>Posted on: {{item.commentdate}}</span>
                                                    <p>{{item.comment}}</p>
                                                    <a href="#" class="reply-link"> Reply </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Reviews End -->
                                </ng-template>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Additional Information End -->
</div>
<app-relatedproduct></app-relatedproduct>