<ul>
    <li class="andro_category-mm-item andro_category-mm-item-has-children"
        *ngFor="let category of categories; let i = index; let lastIndex = last">
        <a href="#"> {{category.category}} </a>
        <ul class="andro_category-mm-2-cols">
            <li>
                <div class="andro_category-mm-banner" *ngIf="i == 0 || i == 3 || i == 6">
                    <img src="assets/img/megamenu/1.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>Fishing</h6>
                        <p>Una de las mas grandiosas experiencias. </p>
                    </div>
                </div>
                <div class="andro_category-mm-banner" *ngIf="i == 1 || i == 4 || i == 7">
                    <img src="assets/img/megamenu/2.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>Compite</h6>
                        <p>Has de tu aventura de pesca algo memorable. </p>
                    </div>
                </div>
                <div class="andro_category-mm-banner" *ngIf="i == 2 || i == 5 || i >= 8">
                    <img src="assets/img/megamenu/3.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>Explora</h6>
                        <p>Busca nuevos destino en busca de pesca.</p>
                    </div>
                </div>                

                <div class="mega-menu">

                    <div *ngFor="let title of arrayTitleList[i]" class="mega-menu__column">

                        <h4>{{title}}
                            <span class="sub-toggle"></span>
                        </h4>

                        <ul class="mega-menu__list" [attr.titleList]="title">

                        </ul>

                    </div>

                </div>

                {{ lastIndex ? callback() : "" }}
            </li>
        </ul>
    </li>
</ul>


<!-- <ul>
    <li class="andro_category-mm-item andro_category-mm-item-has-children">
        <a href="#"> Fishing </a>
        <ul class="andro_category-mm-2-cols">
            <li>
                <div class="andro_category-mm-banner">
                    <img src="assets/img/megamenu/1.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>Fishing</h6>
                        <p>Experience fishing in deep sea like never before </p>
                    </div>
                </div>
                <ul>
                    <li> <a href="#">Rod & Reel Combos</a> </li>
                    <li> <a href="#">Tool</a> </li>
                    <li> <a href="#">Fishing Tool</a> </li>
                    <li> <a href="#">Competitions & Gears</a> </li>
                    <li> <a href="#">Celta Fishing Lures</a> </li>
                    <li> <a href="#">Rod & Reel Combos</a> </li>
                    <li> <a href="#">Overhead Fishing Reel</a> </li>
                    <li> <a href="#">Fishing Rods</a> </li>
                    <li> <a href="#">Gears</a> </li>
                </ul>
                <ul>
                    <li> <a href="#">Competitions</a> </li>
                    <li> <a href="#">Fishing Gears</a> </li>
                    <li> <a href="#">Distillates</a> </li>
                    <li> <a href="#">Competitions Overhead Fishing Reels</a> </li>
                    <li> <a href="#">Gears Stone </a> </li>
                    <li> <a href="#">Diomond Tool</a> </li>
                    <li> <a href="#">Blue Competitionss</a> </li>
                    <li> <a href="#">Swimbaits </a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="andro_category-mm-item"> <a href="#"> Mix Competitions</a> </li>
    <li class="andro_category-mm-item andro_category-mm-item-has-children">
        <a href="#">Gears</a>
        <ul class="andro_category-mm-2-cols">
            <li>
                <div class="andro_category-mm-banner">
                    <img src="assets/img/megamenu/2.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>Competitions</h6>
                        <p>Make your fishing competition adventure </p>
                    </div>
                </div>
                <ul>
                    <li> <a href="#">Rod & Reel Combos</a> </li>
                    <li> <a href="#">Tool</a> </li>
                    <li> <a href="#">Fishing Tool</a> </li>
                    <li> <a href="#">Competitions & Gears</a> </li>
                    <li> <a href="#">Celta Fishing Lures</a> </li>
                </ul>
                <ul>
                    <li> <a href="#">Rod & Reel Combos</a> </li>
                    <li> <a href="#">Overhead Fishing Reel</a> </li>
                    <li> <a href="#">Fishing Rods</a> </li>
                    <li> <a href="#">Gears</a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="andro_category-mm-item"> <a href="#">Fishing Pointed Competitions</a> </li>
    <li class="andro_category-mm-item"> <a href="#"> Fishing Reels</a> </li>
    <li class="andro_category-mm-item"> <a href="#"> Swimbaits</a> </li>
    <li class="andro_category-mm-item"> <a href="#">Fishing Sinker</a> </li>
    <li class="andro_category-mm-item andro_category-mm-item-has-children andro_category-mm-item-expand">
        <a href="#"> <i class="fas fa-plus"></i> More Categories</a>
        <ul class="andro_category-mm-2-cols">
            <li>
                <div class="andro_category-mm-banner">
                    <img src="assets/img/megamenu/3.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>More Categories</h6>
                        <p>Explore more categories that we offer</p>
                    </div>
                </div>
                <ul>
                    <li> <a href="#">Rod & Reel Combos</a> </li>
                    <li> <a href="#">Tool</a> </li>
                    <li> <a href="#">Fishing Tool</a> </li>
                    <li> <a href="#">Competitions & Gears</a> </li>
                    <li> <a href="#">Celta Fishing Lures</a> </li>
                </ul>
                <ul>
                    <li> <a href="#">Rod & Reel Combos</a> </li>
                    <li> <a href="#">Overhead Fishing Reel</a> </li>
                    <li> <a href="#">Fishing Rods</a> </li>
                    <li> <a href="#">Gears</a> </li>
                </ul>
            </li>
        </ul>
    </li>
</ul> -->