.ps-site-features {
  border: 1px solid #d9d9d9
}

.ps-block--site-features {
  display              : -webkit-box;
  display              : flex;
  -webkit-box-orient   : horizontal;
  -webkit-box-direction: normal;
  flex-flow            : row nowrap;
  -webkit-box-pack     : justify;
  justify-content      : space-between;
  padding              : 20px 40px;
  width                : 100%;
  border               : 1px solid #d9d9d9
}

.ps-block--site-features .ps-block__left i {
  font-size: 40px;
  color    : #00BFFF;
}

.ps-block--site-features .ps-block__right {
  padding-left: 25px;
}

.ps-block--site-features .ps-block__right h4 {
  font-size    : 18px;
  font-weight  : 500;
  margin-bottom: 0;
  margin-top   : 0;
  color        : #000;
}

.ps-block--site-features .ps-block__right p {
  margin-bottom: 0;
  color        : #666;
}

.ps-block--site-features .ps-block__item {
  display              : -webkit-box;
  display              : flex;
  -webkit-box-orient   : horizontal;
  -webkit-box-direction: normal;
  flex-flow            : row nowrap;
  -webkit-box-align    : center;
  align-items          : center;
  padding              : 10px 40px;
  border-right         : 1px solid #dadada;
  max-width            : 20%;
  width                : 100%;
}

.ps-block--site-features .ps-block__item:first-child {
  padding-left: 0;
}

.ps-block--site-features .ps-block__item:last-child {
  border-right : none;
  padding-right: 0;
}

.ps-block--site-features.ps-block--site-features-2 {
  border : none;
  padding: 0;
}

.ps-block--site-features.ps-block--site-features-2 .ps-block__item {
  max-width: 25%;
  padding  : 10px 30px;
}


@media (max-width: 1440px) {
  .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    flex-flow            : row nowrap;
    border-right         : 1px solid #dadada;
  }

  .ps-block--site-features.ps-block--site-features-2 .ps-block__item:last-child {
    border-right: none;
  }

  .ps-block--site-features.ps-block--site-features-2 .ps-block__left {
    margin-bottom: 15px;
  }

  .ps-block--site-features.ps-block--site-features-2 .ps-block__right {
    width       : 100%;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
    border-right: none;
  }
}

@media (max-width: 1680px) {
  .ps-block--site-features {
    padding: 30px;
  }

  .ps-block--site-features .ps-block__item {
    padding: 0 15px;
  }
}

@media (max-width: 1440px) {
  .ps-block--site-features .ps-block__item {
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    flex-flow            : row wrap;
    border-right         : none;
  }

  .ps-block--site-features .ps-block__left {
    margin-bottom: 15px;
  }

  .ps-block--site-features .ps-block__right {
    width       : 100%;
    padding-left: 0;
  }
}

@media (max-width: 1024px) {
  .ps-block--site-features {
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    flex-flow            : row wrap;
  }

  .ps-block--site-features .ps-block__item {
    margin-bottom: 30px;
    max-width    : 25%;
    padding      : 0;
  }
}

@media (max-width: 991px) {
  .ps-block--site-features {
    -webkit-box-pack: start;
    justify-content : flex-start;
  }

  .ps-block--site-features .ps-block__item {
    max-width: 50%;
    max-width: 33.33333%;
  }

  .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
    max-width: 50%;
  }
}

@media (max-width: 420px) {
  .ps-block--site-features .ps-block__item {
    max-width            : 100%;
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    flex-flow            : row nowrap;
  }

  .ps-block--site-features .ps-block__item .ps-block__right {
    padding-left: 20px;
  }

  .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
    max-width: 100%;
  }
}