 <!--=====================================
Home Features
======================================-->  
	
<div class="ps-site-features">

    <div class="row" style="height: 70px;">

        <div class="ps-block--site-features ps-block--site-features-2">

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-rocket"></i></div>
                <div class="ps-block__right">
                    <h4>Entregas a todo el país </h4>
                    <p>Correos de Costa Rica</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-sync"></i></div>
                <div class="ps-block__right">
                    <h4>30 días Politica de Devolución</h4>
                    <p>No es Malo Resolver Problemas</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                <div class="ps-block__right">
                    <h4>Pagos Seguros</h4>
                    <p>100% De Pagos Seguros</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                <div class="ps-block__right">
                    <h4>Soporte 24/7</h4>
                    <p>Soporte Dedicado</p>
                </div>
            </div>

        </div>

    </div>

</div><!-- End Home Features-->
