<!-- Locations Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor="let item of locationbox">
                <div class="andro_cta">
                    <a href="#">
                        <img [src]="item.photo" alt="{{item.title}}">
                        <div class="andro_cta-content">
                            <h4 class="text-white">{{item.title}} <span class="fw-400">{{item.titlespan}}</span> </h4>
                            <p class="text-white mb-0">{{item.para}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Locations Start -->
<!-- Icons Start -->
<div class="section section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" *ngFor="let item of contactinfo">
                <div class="andro_icon-block">
                    <a href="#">
                        <i class="{{item.icon}}"></i>
                        <h5>{{item.title}}</h5>
                        <p>{{item.para}}</p>
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect height="500" width="500" class="andro_svg-stroke-shape-anim"></rect>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Icons End -->
<!-- FAQ & Contact Form Start -->
<div class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-lg-30">
                <div class="section-title">
                    <h4 class="title">FAQ</h4>
                </div>
                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1" class="with-gap">
                    <ngb-panel id="static-1">
                        <ng-template ngbPanelTitle>
                            What is Fishinizer?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh
                            pulvinar a. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed,
                            convallis at tellus.
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2">
                        <ng-template ngbPanelTitle>
                            Getting Started with Fishinizer
                        </ng-template>
                        <ng-template ngbPanelContent>
                            Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh
                            pulvinar a. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed,
                            convallis at tellus.
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3">
                        <ng-template ngbPanelTitle>
                            Do i have the latest version?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh
                            pulvinar a. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed,
                            convallis at tellus.
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-4">
                        <ng-template ngbPanelTitle>
                            How many times can I use Fishinizer?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh
                            pulvinar a. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed,
                            convallis at tellus.
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-5">
                        <ng-template ngbPanelTitle>
                            How to migrate my website?
                        </ng-template>
                        <ng-template ngbPanelContent>
                            Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh
                            pulvinar a. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed,
                            convallis at tellus.
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <div class="col-lg-7">
                <div class="section-title">
                    <h4 class="title">Contact Us</h4>
                </div>
                <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <input type="text" placeholder="Full Name" class="form-control" name="name" [(ngModel)]="model.name" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" placeholder="Phone No." class="form-control" name="phone" [(ngModel)]="model.phone" required>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="email" placeholder="Email Address" class="form-control" name="email" [(ngModel)]="model.email" required>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" placeholder="Subject" class="form-control" name="subject" [(ngModel)]="model.subject" required>
                        </div>
                        <div class="form-group col-lg-12">
                            <textarea class="form-control" placeholder="Type your message"
                                rows="8" name="message" [(ngModel)]="model.message" required></textarea>
                        </div>
                    </div>
                    <button type="submit" class="andro_btn-custom primary" name="button">Send Message</button>
                    <div class="service-error mt-4" *ngIf="error">
                        <ngb-alert type="danger" class="mb-0" [dismissible]="false">
                            <strong>Oops!</strong> Something bad happened. Please try again later.
                        </ngb-alert>
                    </div>
                    <div [hidden]="!submitted" class="contact-message">
                        <div *ngIf="model.id" class="contact-success">
                            <ngb-alert type="danger" class="mb-0" [dismissible]="false">
                                <strong>Success!</strong> Contact form has been successfully submitted.
                            </ngb-alert>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- FAQ & Contact Form End -->