<div class="fis-main-slider-sec" >
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-9">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="topbannerConfig" class="fis-main-slider">
                    <div ngxSlickItem class="slide-item" *ngFor="let slide of banner_home; let i = index; let lastIndex = last">
                        <img *ngIf="slide['IMG tag'].includes('https')" src="slide['IMG tag']" class="img-fluid image-fit" alt="">
                        <img *ngIf="!slide['IMG tag'].includes('https')" src="assets/img/products/{{myCategories[i]}}/horizontal/{{ slide['IMG tag']}}" class="img-fluid image-fit" alt="">
                    </div>
                </ngx-slick-carousel>
            </div>
            <div class="col-lg-3">
                <div class="fis-thumb-box" *ngFor="let slide of banner_home; let i = index; let lastIndex = last">
                    <a href="#">
                        <img src="assets/img/products/{{myCategories[i]}}/horizontal/{{ slide['IMG tag']}}" alt="">
                        <div class="thumb-text">
                            <div class="front">
                                <p class="subtitle">{{ slide["H4 tag"]}}</p>
                                <h3 class="title">{{ slide["H3-1 tag"]}}</h3>
                                <p class="lasttitle">{{ slide["H3-3 tag"]}} <strong> {{ slide["H3-4s tag"]}}</strong></p>
                                <a class="ps-btn" routerLink="product/{{url[i]}}"> {{ slide["Button tag"]}} </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
