






<div class="andro_banner banner-3 bg-contain bg-norepeat">
    <ngx-slick-carousel #slickModal="slick-carousel" [config]="bannerConfig" class="andro_banner-slider">

        <div ngxSlickItem class="andro_banner-slider-inner" *ngFor="let item of products | slice:0:3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="andro_product">
                            <div class="andro_product-badge andro_badge-featured" *ngIf="item.featured">
                                <i class="fa fa-star"></i>
                                <span>En Promo</span>
                            </div>
                            <div class="andro_product-badge andro_badge-sale" *ngIf="item.offer[1]">
                                {{item.offer[1]}}% Off
                            </div>
                            <div class="andro_product-thumb">
                                <a routerLink="/product/{{item.url}}"><img src="{{item.default_banner}}" style="min-height: 300px;"
                                        alt="{{item.name}}"></a>
                                <div class="andro_countdown-timer">
                                    <countdown #cd [config]="{leftTime: item.timeleft }"></countdown>
                                </div>

                            </div>
                            <div class="andro_product-body">
                                <h5 class="andro_product-title"> <a routerLink="/product/{{item.url}}">
                                        {{item.name}} </a> </h5>
                                <div class="andro_rating-wrapper">
                                    <div class="andro_rating">
                                        <ngb-rating [max]="5" [(rate)]="item.reviews[0].review" [readonly]="true">
                                            <ng-template let-fill="fill" let-index="index">
                                                <i class="fa fa-star" [class.active]="fill === 100"></i>
                                            </ng-template>
                                        </ngb-rating>
                                    </div>
                                    <span>{{item.reviews[0].review}} Stars</span>
                                </div>
                            </div>
                            <div class="andro_product-footer">
                                <div class="andro_product-price">
                                    <span *ngIf="item.discount">${{item.price * (100 - item.discount) / 100 |
                                        number:'1.2-2'}}</span>
                                    <span>${{item.price| number:'1.2-2'}}</span>
                                </div>
                                <a routerLink="/product-single/{{item.id}}" class="andro_btn-custom btn-sm">Comprar Ahora</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <p>Puedes usar el código <strong class="custom-primary">FISHING2233</strong> durante tu compra</p>
                        <h1>Articulo que <span class="fw-400">Puedes comprarlo ahora</span> </h1>
                        <p [innerHTML]="item.details"></p>
                        <a routerLink="/shop-v1" class="andro_btn-custom">Comprar Ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
    <div class="container">
        <div class="andro_arrows justify-content-center">
            <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
            <i class="fa fa-arrow-right slick-arrow slider-next"></i>
        </div>
    </div>
</div> 






