<!-- Subheader Start -->
<breadcrumb #parent>
    <div class="andro_subheader pattern-bg primary-bg">
        <div class="container">
            <div class="andro_subheader-inner">
                <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                    <h1>{{ route.displayName }}</h1>
                    <div class="breadcrumb-parent">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                                            <li *ngIf="!route.terminal" class="breadcrumb-item">
                                                <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                                            </li>
                                            <li *ngIf="route.terminal" class="breadcrumb-item active"
                                                aria-current="page">{{
                                                route.displayName }}</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</breadcrumb>
<!-- Subheader End -->