<app-header-promotion></app-header-promotion>
<app-header></app-header>
<app-content></app-content>
<app-instagram [layout]="instaclassname"></app-instagram>
<app-footer [layout]="classname" [logo]="ftlogo"></app-footer>