/* You can add global styles to this file, and also import other style files */
@import '~ion-rangeslider/css/ion.rangeSlider';
@import './assets/css/style.css';
.tooltip{
    white-space: nowrap;
}
.andro_newsletter-popup-modal .modal-dialog{
    max-width: 600px;
    margin: .5rem auto;
}
.andro_subheader .breadcrumb-item+.breadcrumb-item::before{
    line-height: 2.7;
}
.slick-dots li button:before{
    display: none;
}
.slick-dots{
    position: relative;
    bottom: 0;
}
.slick-slide .andro_product{
    margin-bottom: 0;
}
.andro_testimonials .slick-dots{
    margin-top: 20px;
} 
.slick-dots li{
    width: auto;
    height: auto;
}
.banner-2.andro_banner .slick-slide, .banner-3.andro_banner .slick-slide{
    display: block;
}
.banner-2.andro_banner .slick-slide .andro_banner-slider-inner, 
.banner-3.andro_banner .slick-slide .andro_banner-slider-inner{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}
.andro_banner-slider.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.deals-slider .slick-dots{
    margin: 25px 0 0;
}
.accordion .card .card-header {
    width: 100%;
    padding: 0;
    border-radius: 0;
}
.accordion .card .card-header .btn-link {
    background-color: #f8f9fa;
    color: #18181D;
    padding: .75rem 1.25rem;
    display: block;
    width: 100%;
    font-weight: 700;
    border-radius: 0;
    margin-right: 0;
    border: none;
    text-align: left;
    font-size: 14px;
    line-height: normal;
}
.accordion .card .card-header .btn-link.collapsed{
    background: transparent;
    color: #18181D;
}
.accordion .card .card-header .btn-link:hover,
.accordion .card .card-header .btn-link:focus{
    box-shadow: none;
    outline: none;
    text-decoration: none;
}
/* Pagination */
pagination-template .ngx-pagination{
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 0;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
pagination-template .ngx-pagination li{
    margin: 0;
    position: relative;
}
pagination-template .ngx-pagination li.pagination-next,
pagination-template .ngx-pagination li.pagination-previous{
    padding: 0;
    display: block;
}
pagination-template .ngx-pagination li.pagination-next span,
pagination-template .ngx-pagination li.pagination-previous span,
pagination-template .ngx-pagination li a{
    border-radius: 8px;
    color: #18181D;
    border: 0;
    background-color: #F0F2F3;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px!important;
    margin: 0;
    position: relative;
    margin-left: 15px;
    display: block;
    line-height: 1.25;
}
pagination-template .ngx-pagination li.current{
    border-radius: 8px;
    color: #fff;
    border: 0;
    background-color: #006C75;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px!important;
    margin: 0;
    position: relative;
    margin-left: 15px;
    display: block;
    line-height: 1.25;
}
pagination-template .ngx-pagination li.pagination-next::after,
pagination-template .ngx-pagination li.pagination-next a:after,
pagination-template .ngx-pagination li.pagination-previous a::before,
pagination-template .ngx-pagination li.pagination-previous::before{
    display: none!important;
}
.custom-control-label::before{
    background-color: #dee2e6;
    border: none;
}
.comments-list .comment-item .andro_rating ngb-rating span{
    position: relative;
    top: 0;
    font-size: 12px;
}
.productpage .andro_product-title+p{
    display: none;
}
ngb-rating:focus{
    outline: none;
}
.modal-body .andro_product{
    padding: 30px 0 0 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}