<!--=====================================
Home Banner
======================================-->  

<div 
*ngIf="!preload && banner_home"
class="ps-home-banner">
    <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" 
    data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" 
    data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">

        <div 
		*ngFor="let slide of banner_home; let i = index; let lastIndex = last"
        class="ps-banner--market-4">
        	<img src="https://ae01.alicdn.com/kf/H56b208b1964c487984cb42a5dca6043ds.jpg_Q90.jpg_.webp" alt="">
            <div class="ps-banner__content">
                <h4>{{ slide["H4 tag"]}}</h4>
                <h3>{{ slide["H3-1 tag"]}}</h3>
                <h3> {{ slide["H3-2 tag"]}} <br/> 
                	<p>{{ slide["H3-3 tag"]}} <strong> {{ slide["H3-4s tag"]}}</strong></p>
                </h3>
                <a class="ps-btn" routerLink="product/{{url[i]}}"> {{ slide["Button tag"]}} </a>
            </div>

        {{ lastIndex ? callback() : "" }}   
        </div>

    </div>

</div><!-- End Home Banner-->

<!--=====================================
Preload
======================================-->
<div
*ngIf="preload"
class="d-flex justify-content-center">
    
    <div class="spinner-border text-muted my-5"></div>

</div>


