<!-- Footer Start -->
<footer class="andro_footer {{layout}}">
    <!-- Top Footer -->
    <div class="container">
        <div class="andro_footer-top">
            <div class="andro_footer-logo">
                <img [src]="logo" alt="logo">
            </div>
            <div class="andro_footer-buttons">
                <a href="#"> <img src="assets/img/android.png" alt="download it on the app store"></a>
                <a href="#"> <img src="assets/img/ios.png" alt="download it on the app store"></a>
            </div>
        </div>
    </div>
    <!-- Middle Footer -->
    <div class="andro_footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
                    <h5 class="widget-title">Información</h5>
                    <ul>
                        <li> <a routerLink="/">Home</a> </li>
                        <li> <a routerLink="/blog-grid">Blog</a> </li>
                        <li> <a routerLink="/about">Sobre Nosotros</a> </li>
                        <li> <a routerLink="/shop-v1">Tienda</a> </li>
                        <li> <a routerLink="/contact">Contactenos</a> </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
                    <h5 class="widget-title">Top Categorias</h5>
                    <ul>
                        <li *ngFor="let category of categories"> 
                            <a href="products/{{category.url}}">{{category.category}}</a> </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
                    <h5 class="widget-title">Otros</h5>
                    <ul>
                        <li> <a routerLink="/checkout">Comprar Ahora</a> </li>
                        <li> <a routerLink="/cart">Carrito</a> </li>
                        <li> <a routerLink="/product-single">Productos</a> </li>
                        <li> <a routerLink="/shop-v1">Tienda</a> </li>
                        <li> <a routerLink="/legal">Vender con nosotros</a> </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 footer-widget">
                    <h5 class="widget-title">Social Media</h5>
                    <ul class="social-media">
                        <li> <a href="#" class="facebook"> <i class="fab fa-facebook-f"></i> </a> </li>
                        <li> <a href="#" class="pinterest"> <i class="fab fa-pinterest-p"></i> </a> </li>
                        <li> <a href="#" class="google"> <i class="fab fa-google"></i> </a> </li>
                        <li> <a href="#" class="twitter"> <i class="fab fa-twitter"></i> </a> </li>
                    </ul>
                    <div class="andro_footer-offer">
                        <p>Crea una cuenta y ten mejores ofertas y cupones</p>
                        <a href="#" class="andro_btn-custom btn-sm shadow-none">Acceder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="andro_footer-bottom">
        <div class="container">
            <ul>
                <li> <a href="#">Politicas de Privacidad</a> </li>
                <li> <a href="#">Politicas de Devolución</a> </li>
                <li> <a href="#">Politica de protección de Datos</a> </li>
                <li> <a href="#">Terminos & Condiciones</a> </li>
            </ul>
            <div class="andro_footer-copyright">
                <p> Copyright © 2021 <a href="#">Labosoftcr.com</a> Todos lo derechos reservados. </p>
                <a href="javascript:void(0);" class="andro_back-to-top" id="backToTop" (click)="gotoTop()"
                    (window:scroll)="ScrolltoTop()">Back to top <i class="fas fa-chevron-up"></i> </a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->